#indicator{
    position:absolute;
    left:130px;
    transform-origin: bottom;
    transform:rotate(-90deg);
}
 body{
    font-family:'poppins';
 }

 #desc{
    text-transform:uppercase;
 }